RBITRACKER UAT/ITTRACKER/Connected Services/PurchaseSer/Purchase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Purchase" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.111/HRM_SERVICE/Purchase.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.111/HRM_SERVICE/Purchase.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.111/HRM_SERVICE/Purchase.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchase_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPurchase_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_TestService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="IPurchase_TestService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_PurchaseFillData_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseFillData" />
  </wsdl:message>
  <wsdl:message name="IPurchase_PurchaseFillData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseFillDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_PurchaseConfirmations_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseConfirmations" />
  </wsdl:message>
  <wsdl:message name="IPurchase_PurchaseConfirmations_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseConfirmationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_PurchaseDocumentUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseDocumentUpload" />
  </wsdl:message>
  <wsdl:message name="IPurchase_PurchaseDocumentUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseDocumentUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_SecurityDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:SecurityDevice" />
  </wsdl:message>
  <wsdl:message name="IPurchase_SecurityDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SecurityDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_SecurityDeviceSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:SecurityDeviceSelect" />
  </wsdl:message>
  <wsdl:message name="IPurchase_SecurityDeviceSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:SecurityDeviceSelectResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_AccountConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountConfirm" />
  </wsdl:message>
  <wsdl:message name="IPurchase_AccountConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchase">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/DoWork" message="tns:IPurchase_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/DoWorkResponse" message="tns:IPurchase_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/TestService" message="tns:IPurchase_TestService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/TestServiceResponse" message="tns:IPurchase_TestService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseFillData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/PurchaseFillData" message="tns:IPurchase_PurchaseFillData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/PurchaseFillDataResponse" message="tns:IPurchase_PurchaseFillData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseConfirmations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/PurchaseConfirmations" message="tns:IPurchase_PurchaseConfirmations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/PurchaseConfirmationsResponse" message="tns:IPurchase_PurchaseConfirmations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseDocumentUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/PurchaseDocumentUpload" message="tns:IPurchase_PurchaseDocumentUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/PurchaseDocumentUploadResponse" message="tns:IPurchase_PurchaseDocumentUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SecurityDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/SecurityDevice" message="tns:IPurchase_SecurityDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/SecurityDeviceResponse" message="tns:IPurchase_SecurityDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SecurityDeviceSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/SecurityDeviceSelect" message="tns:IPurchase_SecurityDeviceSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/SecurityDeviceSelectResponse" message="tns:IPurchase_SecurityDeviceSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/AccountConfirm" message="tns:IPurchase_AccountConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/AccountConfirmResponse" message="tns:IPurchase_AccountConfirm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchase" type="tns:IPurchase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPurchase/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <soap:operation soapAction="http://tempuri.org/IPurchase/TestService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseFillData">
      <soap:operation soapAction="http://tempuri.org/IPurchase/PurchaseFillData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseConfirmations">
      <soap:operation soapAction="http://tempuri.org/IPurchase/PurchaseConfirmations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseDocumentUpload">
      <soap:operation soapAction="http://tempuri.org/IPurchase/PurchaseDocumentUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityDevice">
      <soap:operation soapAction="http://tempuri.org/IPurchase/SecurityDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityDeviceSelect">
      <soap:operation soapAction="http://tempuri.org/IPurchase/SecurityDeviceSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountConfirm">
      <soap:operation soapAction="http://tempuri.org/IPurchase/AccountConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Purchase">
    <wsdl:port name="BasicHttpBinding_IPurchase" binding="tns:BasicHttpBinding_IPurchase">
      <soap:address location="http://10.0.0.111/HRM_SERVICE/Purchase.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>