RBITRACKER UAT/ITTRACKER/Connected Services/PurchaseSer/Purchase2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseFillData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagePara" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagePar1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseFillDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseFillDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseConfirmations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagePara" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagePara1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagePar2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseConfirmationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseConfirmationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseDocumentUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upload_file" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseDocumentUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseDocumentUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityDeviceSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityDeviceSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityDeviceSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagePara" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagePar1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LargeString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountConfirmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>