RBITRACKER UAT/ITTRACKER/Connected Services/PWA_Service/PWA_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaSelectData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaSelectDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PwaSelectDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaConfirmData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaConfirmDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PwaConfirmDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaSelectClob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaSelectClobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PwaSelectClobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaDocumentUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upload_file" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PwaDocumentUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PwaDocumentUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>