RBITRACKER UAT/ITTRACKER/Connected Services/CompService/CompService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.111/CompService/CompService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.111/CompService/CompService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.111/CompService/CompService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompService_CompSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:CompSelect" />
  </wsdl:message>
  <wsdl:message name="ICompService_CompSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompSelectResponse" />
  </wsdl:message>
  <wsdl:message name="ICompService_CompConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:CompConfirm" />
  </wsdl:message>
  <wsdl:message name="ICompService_CompConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="ICompService_RBIDocumentUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:RBIDocumentUpload" />
  </wsdl:message>
  <wsdl:message name="ICompService_RBIDocumentUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:RBIDocumentUploadResponse" />
  </wsdl:message>
  <wsdl:message name="ICompService_DocumentNclobUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentNclobUpload" />
  </wsdl:message>
  <wsdl:message name="ICompService_DocumentNclobUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentNclobUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompService">
    <wsdl:operation name="CompSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompService/CompSelect" message="tns:ICompService_CompSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompService/CompSelectResponse" message="tns:ICompService_CompSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompService/CompConfirm" message="tns:ICompService_CompConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompService/CompConfirmResponse" message="tns:ICompService_CompConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RBIDocumentUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompService/RBIDocumentUpload" message="tns:ICompService_RBIDocumentUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompService/RBIDocumentUploadResponse" message="tns:ICompService_RBIDocumentUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentNclobUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompService/DocumentNclobUpload" message="tns:ICompService_DocumentNclobUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompService/DocumentNclobUploadResponse" message="tns:ICompService_DocumentNclobUpload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompService" type="tns:ICompService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompSelect">
      <soap:operation soapAction="http://tempuri.org/ICompService/CompSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompConfirm">
      <soap:operation soapAction="http://tempuri.org/ICompService/CompConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RBIDocumentUpload">
      <soap:operation soapAction="http://tempuri.org/ICompService/RBIDocumentUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentNclobUpload">
      <soap:operation soapAction="http://tempuri.org/ICompService/DocumentNclobUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompService">
    <wsdl:port name="BasicHttpBinding_ICompService" binding="tns:BasicHttpBinding_ICompService">
      <soap:address location="http://10.0.0.111/CompService/CompService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>