RBITRACKER UAT/ITTRACKER/Connected Services/CompService/CompService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CompSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parval3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompConfirmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RBIDocumentUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upload_file" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RBIDocumentUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RBIDocumentUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentNclobUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upload_file" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentNclobUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentNclobUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>